@charset "utf-8";
.off{display: none !important;}
img {vertical-align: middle;}
div {display: block;} 
a{text-decoration: none;cursor: pointer;letter-spacing: -0.05em;}
body {font-size: 14px;font-family: 'Noto Sans KR Regular', Malgun Gothic, dotum, gulim, Verdana, sans-serif;
    line-height: 1.2;color: #434448;letter-spacing: -0.05em;font-weight: 400;}
a:hover{text-decoration: none; color: #111;}
header {position: fixed;left: 0;top: 0;width: 100%;
    color: #000;background-color: #fff;z-index: 10;}
#wrap {width: 1200px;margin: 0 auto;min-height: 110px;
        position: relative;text-align: center;display: flex;flex-flow: row nowrap;
        justify-content: space-between ;
       font-size: 22px;font-weight: 500;
        }
.menu_img {display: none;}
.title {width: 78%;margin-left: 50px;margin-top: 5px; padding-top: 41px;margin-right: 110px;}

.list{display: flex; flex-flow: row nowrap;
   text-align: left;}
.list>li {width: 20%;}
.list li a {display: block;padding-bottom: 50px;color: black;}
.list li a:hover{color: rebeccapurple;}
.sub_list li {padding-bottom: 20px;color: #6f7176;}
.sub_list li:hover{color: #000;}

.logo {height: 33px; padding-top: 41px;}
.language {padding-top: 5px;position: absolute;top: 40px;right: 0;width: 72px;height: 28px;
            background-color: #1b4493;color: #fff;text-align: center;border-radius: 30px;font-size: 18px;
        font-weight: 500;}
.sub_list{display: none;}
#silder{height: 100%;width: 100%;}
#silder [class*="windo"]{height: 100%;}
.windo0{position: relative;}
.windo1{background:#f9f9f9;}
.windo2{}
.windo3{display: table;table-layout: fixed;width: 100%;}
.img_mo {position: absolute;bottom: 50px;left: 50%;transform: translateX(-50%);}
#silder>.windo0>ul[class*='slid_']{background-size: cover;overflow: hidden;height: 100%;}
.slid_0{background: url(../img/twvs0.png) no-repeat center 0;}
.slid_1{background: url(../img/twvs1.png) no-repeat center 0;}
.slid_2{background: url(../img/twvs2.png) no-repeat center 0;}
.slid_3{background: url(../img/twvs3.png) no-repeat center 0;}
#sl_left{position: absolute;top: 0;left: 10px;width: 80px;height: 380px;line-height: 380px;text-align: center;display: none;}
#sl_right{position: absolute;top: 0;right: 10px;width: 80px;height: 380px;line-height: 380px;text-align: center;display: none;}
[class*="slid_"] li{float: left; width: 33%; height: 100%;box-sizing: border-box;line-height: 1.2;
            border-left: 1px solid rgba(255, 255, 255, 0.1);}
[class*="slid_"]>li:first-child{border: none;}
[class*="slid_"] li a{margin: 45vh auto 0 0;display: block;color: #fff;text-align: center;
            font-size: 50px;font-weight: 700;}
[class*="slid_"] li ul  li{float: none; width: 100%;}
[class*="slid_"] li ul  li a{margin: 0;}
.slid_1 li:first-of-type a{background: url(../img/twic_circle.png) no-repeat center 0;margin: 30vh auto 0 0;
                            padding: 60px 0 20px 0;}
.slid_1 li:first-of-type ul li a{background:none;margin: 4px auto;
                                padding: 12px 0;border: 2px solid #fff;
                                border-radius: 50px;font-size: 20px;width: 250px;}
.slid_2 li:nth-child(2) a{background: url(../img/twic_circle.png) no-repeat center 0;margin: 30vh auto 0 0;
    padding: 60px 0 20px 0;}
.slid_2 li:nth-child(2) ul li a{background:none;margin: 4px auto;
    padding: 12px 0;border: 2px solid #fff;
    border-radius: 50px;font-size: 20px;width: 250px;}
.slid_3 li:nth-child(3) a{background: url(../img/twic_circle.png) no-repeat center 0;margin: 30vh auto 0 0;
    padding: 60px 0 20px 0;}
.slid_3 li:nth-child(3) ul li a{background:none;margin: 4px auto;
    padding: 12px 0;border: 2px solid #fff;
    border-radius: 50px;font-size: 20px;width: 250px;}
.my_line {background: rgba(255, 255, 255, 0.3);height: 1px;padding: 0;
            width: 30px;margin: 0 auto;}
[class*="s_sl"]  {text-align: center;}
[class*="s_sl"] ul li a:hover {text-decoration: underline;}
[class*="s_sl"] p {font-size: 16px;font-weight: 400;color: #fff;padding: 20px 0 40px 0;}

.wwh {max-width: 1200px;margin: 0 auto;}
.w1_sub1{padding-top: 110px ;height:35vh;width: 100%;}
.ws1 {position: relative;margin: 20px 0 10px 0;}
.ws1 h3{font-size: 26px;font-weight: 700;color: #1c4696;}
.ws1 a{position: absolute;top: 5px;right: 10px;font-size: 20px;
        font-weight: 700;color: #000;}
.ws1 a span {color: #aaaaaa;}
.w1_list {display: flex;flex-flow: row nowrap;width: 100%;}
.w1_list li{width: 33%; }
.w1_list li div{height: 195px;margin: 10px;border: 1px solid #eaecef;
    background: no-repeat center #fff;text-align: center;overflow: hidden;}
.w1_txt {overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: block;
        padding: 0 10px 5px 10px; font-size: 16px;font-weight: 400;color: #434448;}
.w1_list li span{display: block;padding: 0 10px;font-size: 14px;font-weight: 300;color: #86898c;}

.w1_sub2 {clear:both;padding-top: 1vh;height: 18vh;}
.ws2_list {display: flex;flex-flow: row wrap;margin-top: 20px;}
.ws2_list li{width: 50%; }
.ws2_list li a{display: block;padding: 5px 50px 5px 10px;font-size: 16px;font-weight: 400;}
.ws2_list li a span{font-weight: 700;color: #9d8757;padding-right: 20px;}

.w1_sub3 {clear:both;padding-top: 1vh;height: 26vh;}
.ws3_list {display: flex;flex-flow: row wrap;}
.ws3_list li{width: 25%; }
.ws3_list li div{height: 152px;margin: 10px;border: 1px solid #eaecef;background: #fff;text-align: center; }
.ws3_list li div p{padding: 25px 0 10px 0;}
.ws3_list li div p img{max-width: 250px;max-height: 50px;background-repeat: no-repeat;background-position: center;}
.ws3_list li div span{display: inline-block;padding: 0 30px 35px 30px;}

.wwd2{max-width: 1200px;margin: 0 auto;text-align: center;}
.wwd2 h2 {padding-top: 18vh;font-size: 30px;font-weight: 700;color: #69737a;}
.w2_under{width: 75px;height: 2px;margin: 30px auto 35px auto;background: #1b4493;}

.ws_last{vertical-align: middle;display: table-cell;width: 100%;height: 100%;}
.ws_ll{background: url(../img/twcont4_bg.png) repeat-x;display: block;}
.ws_lau{width: 100%;margin: 0 auto;display: flex;flex-flow: row nowrap;}
.ws_lau li{width: 20%}
.ws_lau li a{display: block;text-align: center;font-size: 20px;font-weight: 500;padding: 20px;color: #434448;}
.ws_lau li a:hover{color: #000;}
.ws_lau li .ws_lau_sul {border-left: 1px solid #f5f5f5;}
.ws_lau_sul {padding: 20px 40px;border-right: 1px solid #f5f5f5;min-height: 280px;margin: 30px 0;}
.ws_lau_sul li {margin: 0;display: block;width: 100%;}
.ws_lau_sul li a {font-size: 16px;font-weight: 400;color: #6f7176;display: block;padding: 10px 0;text-align: left;}

footer {border-top: 1px solid #ececec;clear: both;}
.fodiv {width: 1200px;margin: 0 auto;position: relative;height: 180px;}
.fodiv a {position: absolute;top: 60px;left: 0;}
.fodiv .address {position: absolute;top: 48px;left: 260px;font-size: 14px;font-weight: 400;color: #92959c;
                line-height: 1.4;}
.fodiv .copy {position: absolute;top: 95px;left: 260px;font-size: 16px;font-weight: 500;color: #434448;}
.fodiv .copy span {color: #1f2227;}
.fodiv .sns {position: absolute;top: 54px;right: 0;}
.fodiv .sns li {float: left;margin-right: 10px;}

@media screen and (max-width: 1023px) {
    header{width: 100%;position: relative;background-color: #fff;}
    #wrap{width: auto;height: 66px;min-height: 66px;padding-top: 24px;margin: 0;position: relative;
            background: none;overflow: hidden;text-align: center;display: block;}
    .logo {display: inline-block;position: relative;top: auto;left: auto;padding: 0;}
    .menu_img{display: block;position: absolute;top: 0;left: 0;padding: 33px;}
    .language {top: 30px;right: 20px;height: 26px;font-size: 16px;}
    .title {display: none;} 
    .slid_0{display: none;}
    .slid_1{display: block;}
    .slid_2{display: none;}
    .slid_3{display: none;}
    #sl_left{display: block;}
    .img_mo{display: none;}
    #sl_right{display: block;}
    #silder {min-width: auto; height: auto;position: relative;}
    #silder [class*="windo"]{min-width: auto; height: auto;position: relative;}
    #silder>.windo0>ul[class*='slid_']{height:auto;display: block;}
    [class*="slid_"] li{display: none;}
    [class*="slid_"] .s_sl{display: block;width: 100%;height: 350px;padding: 0 0 0 0;margin-top: 30px;}
    .slid_1 li:first-of-type a{margin: 0 auto;font-size: 36px;font-weight: 700;padding: 40px 0 15px 0;}
   .s_sl ul li {display: block;}
   .s_sl p {font-size: 14px;font-weight: 400;padding: 20px 0 20px 0;}
   .slid_1 li:first-of-type ul li a{width: 200px;padding: 8px 0;font-weight: 700;font-size: 18px;}
    .slid_2 li:nth-child(2) a{margin: 0 auto;font-size: 36px;font-weight: 700;padding: 40px 0 15px 0;}
    .slid_3 li:nth-child(3) a{margin: 0 auto;font-size: 36px;font-weight: 700;padding: 40px 0 15px 0;}
    .slid_2 li:nth-child(2) ul li a{width: 200px;padding: 8px 0;font-weight: 700;font-size: 18px;}
    .slid_3 li:nth-child(3) ul li a{width: 200px;padding: 8px 0;font-weight: 700;font-size: 18px;}

    
}
@media screen and (max-width: 767px){
    .title {display: none;} 
    header{display: block;}
    .slid_0{display: none;}
    .slid_1{display: block;}
    .slid_2{display: none;}
    .slid_3{display: none;}
    [class*="slid_"] li{display: none;}
    [class*="slid_"] .s_sl{display: block;width: 100%;}
    [class*="w1_sub"] {height: auto;}
    .w1_list{flex-flow: row wrap;}
    .w1_list li{width: 90%;}
    .ws2_list{flex-flow: row wrap;}
    .ws2_list li {width: 90%;}
    .ws3_list{flex-flow: row wrap;}
    .ws3_list li {width: 90%;}
}